---
layout: default
---
<div class="index">
  <article role="article">
    <br />
    <div class="index__header">
      <span>Hey there. I'm Chris Eaves-Kohlbrenner, a software engineer currently working for Reuters. You can find me on <a href="https://twitter.com/heychrisek">Twitter</a> and <a href="https://github.com/heychrisek">Github</a> or email me at heychrisek at gmail dot com.</span>
      <br />
    </div>
    <div id="blog-archives">
      {% for post in paginator.posts reverse %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% unless year == this_year %}
          {% assign year = this_year %}
          <h2 class="index__blog-year">{{ year }}</h2>
        {% endunless %}
        <article>
          {% include index_post.html %}
        </article>
      {% endfor %}
      <br />
      <a style="float: right;" href="{{ root_url }}/blog/archives">View Archives →</a>
    </div>
  </article>
</div>

