---
layout: default
---
<div>
  <article role="article">
    <div id="blog-archives">
      {% for post in paginator.posts reverse %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% unless year == this_year %}
          {% assign year = this_year %}
          <h2>{{ year }}</h2>
        {% endunless %}
        <article>
          {% include index_post.html %}
        </article>
      {% endfor %}
      <br />
      <a style="float: right;" href="{{ root_url }}/blog/archives">View Archives</a>
    </div>
  </article>
</div>